/********************** 
    MAIN STYLES
***********************/

.container--main {
  padding: 3em 0;
}

.main {
  background-color: var(--gray);
}

.main__image {
  margin-bottom: 3em;
}

.main__image img {
  width: 100%;
}

.main__heading {
  font-size: 3rem;
  font-weight: 900;
  font-family: var(--heading-font);
}

.main__text {
  font-size: 1.125rem;
  color: var(--gray1);
  margin-bottom: 3em;
  line-height: 1.8;
}

.arrow {
  width: 35px;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  cursor: pointer;
}

/********************** 
  HOW-IT-WORKS STYLES
***********************/

.section__text,
.card__text {
  color: var(--gray1);
}

.section__heading {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 1.5rem;
}

.number {
  color: var(--gray);
  font-size: 2.25rem;
  line-height: 50px;
}

.card-top {
  display: flex;
}

.card__icon {
  width: 50px;
  margin-left: 1rem;
}

.card + .card {
  margin-top: 2em;
}

.card-bottom {
  margin-left: 80px;
}

/********************** 
  SERVICES WE PROVIDE STYLES
***********************/

.card--flex {
  display: flex;
}

.card--reset {
  margin-left: 0;
}

.card--border {
  border: 1px solid var(--border-color);
  padding: 1.5em;
  border-radius: 8px;
}

.card--border:hover {
  box-shadow: 0px 0px 30px var(--hover-card);
}

.card--margin-left {
  margin-left: 1em;
}

/********************** 
    OUR WORKS STYLES
  ***********************/
.fa-arrow-right {
  margin-left: 1em;
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item2 item5"
    "item4 item6 item5";
}

.item1 img,
.item3 img,
.item4 img,
.item5 img,
.item6 img {
  width: 100%;
  height: 100%;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
  background-color: var(--purple);
  color: #fff;
  text-align: center;
}

.item2 h3 {
  font-size: 1rem;
  font-weight: 500;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.section--end {
  text-align: center;
  padding: 2em 0;
}

@media (min-width: 1080px) {
  /********************** 
    MAIN STYLES
  ***********************/

  .main__content {
    width: 50%;
  }

  .main__image {
    margin-top: 0;
    width: 40%;
    order: 2;
  }

  .container--main {
    padding: 7em 0 3.8em 0;
  }

  /********************** 
    HOW-IT-WORKS STYLES
  ***********************/

  .card--width {
    width: 30%;
  }

  .card + .card {
    margin-top: 0;
  }

  /********************** 
  SERVICES WE PROVIDE STYLES
***********************/

  .card--border {
    width: 48%;
  }

  /********************** 
    BAR STYLES
  ***********************/

  .bar {
    display: block;
    background-color: var(--gray);
    padding: 3em 0;
  }

  .company {
    align-self: center;
    color: var(--gray2);
    width: 20%;
  }

  .company__logo {
    width: 15%;
  }

  .company__name {
    align-self: center;
    margin-left: 1.2em;
  }
}
