/********************** 
    CARD STYLES
***********************/
.card {
  padding: 2em;
  border: 1px solid #f4eefb;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 0 1rem 1px rgb(0 0 0 / 3%);
}

.card + .card {
  margin-top: 40px;
}

.card__top {
  display: flex;
  justify-content: space-between;
}

.card__heading {
  text-align: center;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.tick {
  width: 20%;
  text-align: center;
  font-size: 1.5em;
}

.card__content p {
  margin: 0;
  padding: 0;
  width: 80%;
}

.card__content {
  margin-top: 1em;
}

@media (min-width: 1080px) {
  /********************** 
        CARD STYLES
  ***********************/

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5rem;
  }

  .tick {
    width: 10%;
  }

  .card__content p {
    width: 90%;
  }

  .card + .card {
    margin-top: 0;
  }
}
