/********************** 
    THESE STYLES ARE FOR OTHER PAGES EXCEPT HOME PAGE
*/

.section__heading {
  font-family: var(--heading-font);
  font-size: 1.5rem;
}

.section__text {
  color: var(--gray1);
  margin-top: 1em;
}

.section--dark {
  background-color: var(--gray);
}

.section__content--bottom {
  margin-bottom: 2.5em;
}

.btn--big {
  padding: 0.8em 3em;
}

@media (min-width: 1080px) {
  .section__content {
    width: 50%;
  }
}
