:root {
  /* COLORS */
  --gray: #f6f6f6;
  --gray1: #637589;
  --gray2: #a1a1a1;
  --purple: #5e227f;
  --yellow: #f8b500;
  --pink: #d22780;

  /* FONTS */
  --primary-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

/********************** 
    UNIVERSAL STYLES
***********************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border: none;
  color: white;
  background-color: var(--purple);
  border-radius: 5px;
  padding: 0.8em 1.5em;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.bar {
  display: none;
}

/********************** 
    HEADER STYLES
***********************/

.header {
  display: none;
}

/********************** 
    NAV STYLES
***********************/

.nav__list {
  padding: 0;
}

.logo-container {
  margin-top: 1em;
  width: 90px;
}

.logo {
  width: 100%;
}

.nav {
  padding: 0.8em 0;
  background-color: #fff;
  position: sticky;
  z-index: 10;
  box-shadow: 0px 2px 3.5px 0.5px var(--gray2);
  top: 0;
}

.hamburger {
  position: absolute;
  font-size: 2rem;
  top: 10px;
  right: 0;
}

.nav-bar {
  max-height: 0;
  overflow: hidden;
  margin-top: 1em;
  transition: all 0.8s ease;
}

.nav-bar--toggle {
  max-height: 400px;
  margin-top: 2.5em;
  overflow: visible;
  transition: all 0.8s ease;
}

.nav__links {
  text-decoration: none;
  color: var(--gray1);
  font-weight: 600;
  text-transform: uppercase;
}

.btn {
  color: white;
}

.nav__items {
  list-style: none;
  margin-top: 2em;
  text-align: center;
}

.active {
  color: var(--gray3);
}

/********************** 
    MAIN STYLES
***********************/

.container--main {
  padding: 3em 0;
}

.main {
  background-color: var(--gray);
}

.main__image {
  margin-bottom: 3em;
}

.main__image img {
  width: 100%;
}

.main__heading {
  font-size: 3rem;
  font-weight: 900;
  font-family: var(--heading-font);
}

.main__text {
  font-size: 1.125rem;
  color: var(--gray1);
  margin-bottom: 3em;
  line-height: 1.8;
}

.arrow {
  width: 35px;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

/********************** 
  HOW-IT-WORKS STYLES
***********************/

.how-it-works {
  padding: 3em 0;
}

.section--secondary {
  margin: 3em 0;
}

.section__text,
.card__text {
  color: var(--gray1);
}

.section__heading {
  font-family: var(--heading-font);
}

.card__heading {
  font-size: 1.125em;
}

.number {
  color: var(--gray);
  font-size: 2.25rem;
  line-height: 50px;
}

.card-top {
  display: flex;
}

.card__icon {
  width: 50px;
  margin-left: 1rem;
}

.card + .card {
  margin-top: 2em;
}

.card-bottom {
  margin-left: 80px;
}

@media (min-width: 1080px) {
  /********************** 
    UNIVERSAL STYLES
  ***********************/

  .row {
    display: flex;
  }

  .row--spacing {
    justify-content: space-between;
  }

  .row--align {
    align-items: center;
  }

  /********************** 
    HEADER STYLES
  ***********************/

  .header {
    display: block;
    padding: 1em 0;
    background-color: var(--gray);
    text-align: center;
  }

  .social__logo,
  .phone__icon,
  .email__icon {
    width: 15px;
  }

  .contact-info {
    width: 100%;
    color: var(--gray2);
  }

  .phone__number,
  .email__address {
    align-self: center;
    margin-left: 0.5em;
  }

  .email {
    margin-left: 1em;
  }

  .email__link,
  .phone__link {
    text-decoration: none;
    color: var(--purple);
  }

  .social {
    margin: 0;
    text-align: right;
    align-self: center;
    width: 100%;
  }

  .social__links {
    text-decoration: none;
  }

  .social__links + .social__links {
    margin-left: 1em;
  }

  /********************** 
    NAV STYLES
  ***********************/
  .logo-container {
    align-self: center;
    margin: 0;
  }

  .nav-bar {
    max-height: 400px;
    margin-top: 0;
  }

  .nav__list {
    padding: 0;
  }

  .nav__items {
    margin: 0;
  }

  .nav-bar {
    margin-left: auto;
  }

  .nav__items + .nav__items {
    margin-left: 2.3em;
  }

  .hamburger {
    display: none;
  }

  /********************** 
    MAIN STYLES
  ***********************/

  .main__content {
    width: 50%;
  }

  .main__image {
    margin-top: 0;
    width: 40%;
    order: 2;
  }

  .container--main {
    padding: 7em 0 3.8em 0;
  }

  /********************** 
    HOW-IT-WORKS STYLES
  ***********************/

  .how-it-works {
    padding: 5em 0 3em 0;
  }

  .card {
    width: 30%;
  }

  .card + .card {
    margin-top: 0;
  }

  /********************** 
    BAR STYLES
  ***********************/

  .bar {
    display: block;
    background-color: var(--gray);
    padding: 3em 0;
  }

  .company {
    align-self: center;
    color: var(--gray2);
    width: 20%;
  }

  .company__logo {
    width: 15%;
  }

  .company__name {
    align-self: center;
    margin-left: 1.2em;
  }
}
